<ion-view view-title="Epic App">
  <ion-content  ng-controller="lyftCtrl">
  <div class="card">
  <div class=" item item-divider item-energized"><center>Epic Developers</center></div>
  <a href="#/p1/{{note.id}}" class="item " ng-repeat="story in stories">
  <h3>{{story.title}}</h3>
  <p>{{story.desc}}</p>
  </a></div>
  </ion-content>
</ion-view>
